.bookmarkIcon {
    margin-right: 5px;
}

.node-icon {
    margin-left: 5px;
    margin-right: 10px !important;
}

#editIconAddon {
    width: 16px;
    height: 16px;
}

/* Only show bookmark related buttons on hover */
#bookmarks li.list-group-item button {
    visibility: hidden;
}

#bookmarks li.list-group-item:hover button {
    visibility: visible;
}

button {
    cursor: pointer;
}

#accordion li.list-group-item {
    border-left: 0;
    border-right: 0;
}

#accordion li.list-group-item:first-child {
    border-top: 0;
}

#accordion li.list-group-item:last-child {
    border-bottom: 0;
}

#collectionColumn {
    border-right: 1px solid rgb(222,222,222);
}

.badge {
    display: flex;
    margin-left: auto;
    color: rgb(123,123,123);
    font-weight: 100;
}

#bookmarkColumn, #collectionColumn {
    height: 100%;
    overflow-y: auto;
}

#bookmarksCards div.card {
    max-width: 128px;
    min-width: 128px;
    margin-left: 0px !important;
    margin-bottom: 15px;
}

#bookmarksCards button {
    visibility: hidden;
}

#bookmarksCards div.card:hover button {
    visibility: visible;
}

.cardEditButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

#deleteButton {
    position: absolute;
    left: 15px;
}

.mfb-component__button, .mfb-component__button--child, .mfb-component__button--main {
    background-color: #5cb85c;
}