#settingsButton {
    margin-right: 5px;
}

.bookmarkIcon {
    margin-right: 5px;
}

.node-icon {
    margin-left: 5px;
    margin-right: 10px !important;
}

/* Only show bookmark related buttons on hover */
#bookmarks li.list-group-item .btn-toolbar {
    visibility: hidden;
}

#bookmarks li.list-group-item:hover .btn-toolbar {
    visibility: visible;
}

button {
    cursor: pointer;
}

#accordion li.list-group-item {
    border-left: 0;
    border-right: 0;
}

#accordion li.list-group-item:first-child {
    border-top: 0;
}

#accordion li.list-group-item:last-child {
    border-bottom: 0;
}

#collectionColumn {
    border-right: 1px solid rgb(222,222,222);
}

.badge {
    display: flex;
    margin-left: auto;
    color: rgb(123,123,123);
    font-weight: 100;
}

#bookmarkColumn {
    height: 100%;
    overflow-y: auto;
}

.card {
    max-width: 250px;
    min-width: 250px;
    margin-left: 0px !important;
    margin-bottom: 15px;
}